@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+Pro&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

/* header style  */
header {
    display: flex;
    /* width: 100%; */
    margin: 50px 140px;
    background-color: #161616;
    border-radius: 30px;
    color: #ffffff;
    padding-top: 20px;

}

.extra-half {
    width: 50%;
}

.class-for-header {

    text-align: left;
    padding-top: 111px;
    padding-bottom: 111px;
    padding-left: 106px;
}

.header-for-banner {
    align-self: flex-end;
}

.header-for-banner img {
    width: 581px;
    height: 613px;
}

.tittle-part {
    font-size: 70px;
    font-weight: 700;
}

.header-details {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 46px;
}

.links {
    text-decoration: none;
    padding: 10px 25px;
    background-color: #DD0000;
    color: #ffffff;
    border-radius: 5px;
}

/* animation style */
@keyframes head-anim {
    0% {


        transform: translate(0px, 0px);
    }

    50% {


        transform: translate(2px, 0px);

    }

    80% {


        transform: translate(4px, 0px);
    }


    100% {


        transform: translate(10px, 0px);

    }
}

header .links>i {
    animation: head-anim 1s ease-in-out 1s infinite normal;
}

/* main container  */
.for-main {
    display: flex;
    margin: 50px 140px;
    justify-content: center;

}

/* options style */
.option-item {
    width: 312px;
    height: 312px;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    margin: 24px;


}

.for-button {
    padding: 17px 39px;
    color: black;
    background-color: white;
    margin: 15px 30px;
    border-radius: 10px;
    text-align: center;
}

.another-button {
    background-color: #DD0000;
    color: white;
}

/*  style for content-box */

.for-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.button-for-content {
    font-size: 16px;
    font-weight: 500;
    border: 1px solid gray;
    background-color: white;
    border-radius: 5px;
}

.description h3 {
    font-size: 18px;
    font-weight: 600;
    color: #161616;
}

.duration {
    color: #161616;
    opacity: 70%;
}

.time-rate span {
    padding-right: 30px;
}

/* footer 
 */
footer {
    background-color: #161616;
    color: white;
    margin: 0;
    text-align: center;
    padding-top: 130px;
}

.footer-tittle {
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 600;
}

footer hr {
    opacity: 10%;
    width: 1320px;

}



.some-link a,
.social-site a {
    text-decoration: none;
    color: #B9B9B9;
    font-size: 16px;
    padding: 0px 20px;
    font-weight: 500;
}

.social-site,
.some-link {

    padding-bottom: 30px;
}